{{- define "main" -}}

{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $title := .Title }}


<article class="article  page-play-single">

  <div class="container pt-3">
    <h1>{{ $title }}</h1>

    {{ with $page.Params.subtitle }}
    <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
    {{end}}

  </div>




  <div class="container">

    <div class="article-style">
      {{/* .Content */}}


      {{ range  $index, $item := .Params.play_contents }}
      <div class="row play-item">
        <div class="col-12 col-md-4">
          {{ $item.content | markdownify | emojify }}
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            {{ range  $index2, $item2 := $item.images }}
            <div class="col-12 col-md-6"><img src="{{ $item2.path | relURL }}" /></div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}

    </div>

    {{ partial "page_footer" . }}

  </div>
</article>
{{- end -}}
