{{- define "main" -}}


{{- $research_data := site.Data.research -}}

{{/* 头部图片 */}}
{{$top_image := "images/design/top-image.png"}}
{{- if .Params.top_image -}}
{{- $top_image =  .Params.top_image -}}
{{- end -}}
<div class="site-header-container   has-cover" style="background-image: url({{ $top_image | relURL}});">
  <div class="scrim has-cover">
    <div class="site-header">
      <h1 class="title"></h1>
      <p class="subtitle"></p>
    </div>
  </div>
</div>

<div class="page-cv page-research container">




  <div class="cv-list-wrap research-list-wrap pb-5">


    <div class="page-title pt-5 pb-5">

      <h1 class=" ">Research </h1>
      <p class="post-description" style=" ">
        Click to view full information
      </p>

    </div>

    <div class="cv-contents">
      {{ range $idx, $group := $research_data }}

      <div class="r-group">{{$group.group | markdownify}}</div>

        {{ range $index, $item := $group.titles }}

        <div class="cv-item card time_table ">
          <div class="card-body">
            <div class="card-title">{{$item.title | markdownify}}</div>
            <div class="card-text">
              {{ range $index2, $item2 := $item.table }}
              <div class="row">
                <div class="col-md-3 col-12 map-key">
                  <div class="key-content  ">{{$item2.name | markdownify}}</div>
                </div>
                <div class="col-md-9 col-12 map-value">
                  <div class="value-content">{{$item2.value | markdownify}}</div>
                </div>
              </div>
              {{ end}}

            </div>
          </div>

        </div>

        {{ end }}
      {{ end }}

    </div>

  </div>

</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('.cv-list-wrap .cv-item .card-title').click(function() {
      $(this).parent().toggleClass("open");
    });

  });
</script>


{{- end -}}
