{{- define "main" -}}

  <div class=" page-scripts">
      {{/* 头部图片 */}}
      {{$top_image := "images/design/top-image.png"}}
      {{- if .Params.top_image -}}
          {{- $top_image =  .Params.top_image -}}
      {{- end -}}
    <section class="hero"  style="background-image: url({{ $top_image | relURL}});">
      <div class="hero-content">
        <h1>{{ .Params.hero_title | markdownify  | emojify }}</h1>
        <p>{{ .Params.hero_desc | markdownify  | emojify }}</p>
      </div>
    </section>



  <div class="universal-wrapper  container">

    <div class="pt-5 pb-5 common-page-title">
      <h1>{{ .Title }}</h1>
    </div>
    <div class=" script-items">

      <div>{{ .Content }}</div>


      <div class="row  files-list-wrap ">

          {{ range  $index, $item := .Params.script_files }}

            <div class="col-6 col-md-3 script-file-item">


                <a  target="_blank" href="{{ $item.path |  relURL }}" class=" ">


                  <i class="{{ $item.icon }}" style="font-size: 3rem;" ></i>

                    {{ with $item.name }}
                      <div class="item-name">{{ . | markdownify }}</div>
                    {{ end }}

                </a>



            </div>

          {{ end }}
      </div>

    </div>


  </div>


  </div>




{{- end -}}
